{% extends 'main/layout.html' %}

{% block title %}Создание теста{% endblock %}

{% block content %}
    <div class="features">
    <h1>Создание теста</h1>
    <p>Выбирите какой тип вопроса хотите создать</p>
        <div class="uCalc_400546"></div>
        <script> var widgetOptions400546 = { bg_color: "transparent" }; (function() { var a = document.createElement("script"), h = "head"; a.async = true; a.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//ucalc.pro/api/widget.js?id=400546&t="+Math.floor(new Date()/18e5); document.getElementsByTagName(h)[0].appendChild(a) })();</script>
{% endblock %}